@model BookingWizard.ModelsVM.hotelRoomVM


<form method="post" action="/Rooms/Edit">
	</div>
	<input type="hidden" asp-for="Id" />
	<input type="hidden" asp-for="HotelId" />
	<div class="input-group mb-3">
		<input type="number" class="form-control" placeholder="@Model.Number" asp-for="Number" aria-describedby="basic-addon2">
		<span class="input-group-text" id="basic-addon2">Name</span>
	</div>
	<span asp-validation-for="Number"></span>
	<div class="input-group mb-3">
		<input type="text" class="form-control" placeholder="@Model.Description" asp-for="Description" aria-describedby="basic-addon2">
		<span class="input-group-text" id="basic-addon2"> Description</span>
	</div>
	<span asp-validation-for="Description"></span>
	<div class="input-group mb-3">
		<input type="text" class="form-control" placeholder="@Model.roomPricePerNight" asp-for="roomPricePerNight" aria-describedby="basic-addon2">
		<span class="input-group-text" id="basic-addon2"> Price per Night</span>
	</div>
	<span asp-validation-for="roomPricePerNight"></span>
	<div class="input-group mb-3">
		<input type="text" class="form-control" placeholder="@Model.imageUrl" asp-for="imageUrl" aria-describedby="basic-addon2">
		<span class="input-group-text" id="basic-addon2">Image</span>
	</div>
	<span asp-validation-for="imageUrl"></span>
	</div>

	<button type="submit">Edit</button>
</form>