@model BookingWizard.ModelsVM.HotelVM
@{
	var photoPath = "";
	if (Model != null)
	{
		photoPath = $"~/images/{Model.Image.Name ?? "https://www.interfax.ru/ftproot/photos/photostory/2022/04/29/week/week7_1100.jpg"}";
	}
}
<form method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="Address.HotelId">
	<input type="hidden" asp-for="AddressId">
	<input type="hidden" asp-for="Image">
	<input type="hidden" asp-for="ImageModelList">
	<div>
		<div class="input-group mb-3">
			<input type="text" class="form-control" asp-for="HotelName" aria-describedby="basic-addon2">
			<span class="input-group-text" id="basic-addon2">Name</span>
		</div>
		<span asp-validation-for="HotelName"></span>
		<div class="input-group mb-3">
			<input type="text" class="form-control" asp-for="HotelShortDescription" aria-describedby="basic-addon2">
			<span class="input-group-text" id="basic-addon2">Short Description</span>
		</div>
		<span asp-validation-for="HotelShortDescription"></span>
		<div class="input-group mb-3">
			<input type="text" class="form-control" asp-for="HotelLongDescription" aria-describedby="basic-addon2">
			<span class="input-group-text" id="basic-addon2">Long Description</span>
		</div>
		<span asp-validation-for="HotelShortDescription"></span>
		
		<div class="input-group mb-3">
			<input type="text" id="autocomplete" class="form-control" asp-for="@Model.Address.AddressName" aria-describedby="basic-addon2">
			<span class="input-group-text" id="basic-addon2">Country</span>
		</div>
		<span asp-validation-for="Address.AddressName"></span>

	</div>
	<button type="submit">Edit</button>
</form>

