@using Microsoft.AspNetCore.Identity;

@model IEnumerable<IdentityUser>
<form method="post" asp-action="UserList" asp-controller="Roles">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="name" aria-describedby="basic-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
    </div>
</form>
<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
            <tr>
                <td>@user.UserName</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
                </td>
            </tr>
    }
</table>