@model List<BookingWizard.ModelsVM.HotelVM>

    <form method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control"  name="searchString" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
    </div>
    </form>
<div class="row">
    @foreach (var hotel in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">

                <a href="@Url.Action("Hotel","Main", new {id = hotel.Id})">
                    <img src="@hotel.imageUrl" alt="Hotel Image" class="img-fluid">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@hotel.HotelName</h5>
                    <p class="card-text">@hotel.HotelShortDescription</p>
                </div>

            </div>

        </div>

    }

</div>